.about {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    justify-content: space-between;
        align-items: center;
}

.section__title-container {
    margin-bottom: 2.5rem;
    font-size: var(--size-4xl);

    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.about__container {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__description {
    max-width: 80ch;
    font-size: var(--size-base);
    color: var(--clr-text);
}

.about__hr {
    border-color: var(--clr-slate800);
}

.about__technologies-wrapper {
    display: flex;
    align-items: center;
}

.about__technologies {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-left: 1em;
    list-style: none;
    /* Fractionally distribute available space */
    flex: 1;
}

.about__social-medias {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding-left: 0;
    list-style: none;
    /* Fractionally distribute available space */
    flex: 1;
}

.about__img-wrapper {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    width: 40.75rem;
}