/* 
Overrite common elements here
*/

.btn {
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.05em;
    background-color: var(--clr-dark-brown);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 25px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateX(5px);
}

.test-btn {
    font-weight: 500;
    padding: 0.5em 1em;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-family: Inter, sans-serif;
    color: var(--clr-text);
    background-color: var(--clr-light-grey);
    border: 2px solid var(--clr-text);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.test-btn:after {
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: var(--clr-text);
    border-radius: 8px;
    transform: translate(0px, 0px);
    transition: transform .2s ease-out;
}

/* .test-btn:hover {
    color: var(--clr-light-grey);
    background-color: var(--clr-dark-brown);
} */

.test-btn:hover:after {
    transform: translate(6px, 6px);
}



.test-btn-2 {
    font-weight: 500;
    padding: 0.5em 1em;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0.05em;
    font-family: Inter, sans-serif;
    color: var(--clr-text);
    background-color: var(--clr-light-grey);
    border: 2px solid var(--clr-text);
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
}

.test-btn-2:hover {
    color: var(--clr-light-grey);
    background-color: var(--clr-dark-brown);
}

.test-btn-2:hover:after {
    transform: translate(6px, 6px);
}



.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.section {
    margin-top: 5rem;
}


/* Breakpoints for responsive scalling */
/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }

    .section {
        margin-top: 10rem;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

/* Media templates */
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
